<!DOCTYPE html>
<html lang="en">

<head>
	<% var username = username; var user = user; var menu = menu; %>
		<% include ./partials/head %>
</head>

<body class="container">
	<header>
		<% include ./partials/flash %>
			<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">


			<form class="form-horizontal">
				<fieldset>


					<!-- Search input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="search-box">Search</label>
						<div class="col-md-4">
							<input onkeyup="filterItems()" id="searchBar" name="search-box" type="search" placeholder="" class="form-control input-md" required="">

						</div>
					</div>

				</fieldset>
			</form>


			<table class="table" id="searchTable">
				<tr>
					<th>Food name</th>



				</tr>
			</table>
		</div>

		<script type="text/javascript">
			var prevOpened = 0;

			function toggleFact(i){
                            if($("#fact"+i).length == 0) {
                                $.get("https://umddiningapi.pesce.host/get_nutrition.json?recipe="+$("#tr"+i).children("td").first().attr("id"), function(nutrition, err) {
                                    var menuItem = "";
                                    if (nutrition != null) {
                                            menuItem = '<tr id="fact' + i + '"> <td style="padding-left:50px">' +
                                                    '<div>Calories: ' +  nutrition.calories  +' cals</div>' +
                                                    '<div>Portion: ' + nutrition.portion + '<div>' +
                                                    '<div>Carb: '+nutrition.carb + '</div>' +
                                                    '<div>Saturated Fat: '+nutrition.satfat +'</div>' +
                                                    '<div>Protein: '+nutrition.protein+'</div>' +
                                                    '<div>Sodium: '+nutrition.sodium+'</div>' +
                                                    '<div>Calcium: '+nutrition.calcium+'</div>' +
                                                    '<div>Fiber: '+nutrition.fiber+'</div>' +
                                                    '<div>Sugar: '+nutrition.sugar+'</div>' +
                                                    '<div>Trans Fat: '+nutrition.transfat+'</div>' +
                                                    '<div>Cholesterol: '+nutrition.cholesterol+'</div>' +
                                                    '<div>Ingredients: '+nutrition.ingredients+'</div>' +
                                                    '<div>Allergens: '+nutrition.allergens+'</div>' +
                                            '</td></tr>';
                                    } else {
                                            menuItem = '<tr id="fact' + i + '"> <td style="padding-left:50px">--</td></tr>';
                                    }
                                    $("#tr"+i).after(menuItem);
                                    hideFact(prevOpened);
                                    if (i != prevOpened){
                                            //$("#fact" + i).toggle();
                                            prevOpened = i;
                                    }
                                });
                            } else {
				hideFact(prevOpened);
				if (i != prevOpened){
					$("#fact" + i).toggle();
					prevOpened = i;
				}
                            }
			}

			function hideFact(i){
				$("#fact" + i).hide();
			}

			function hideAllFacts(){
				<%for (let i = 0; i < menu.length; i++){ %>
					hideFact(<%= i %>);
				<% } %>
			}

			function filterItems(){
				// Declare variables
	  		var input, filter, table, tr, td, i;
	  		input = document.getElementById("searchBar");
	  		filter = input.value.toUpperCase();
				table = document.getElementById("searchTable");
				tr = table.getElementsByTagName("tr");

				// Loop through all table rows, and hide those who don't match the search query
				for (i = 0; i < tr.length; i++) {
		    		td = tr[i].getElementsByTagName("td")[0];
		    		if (td) {
		      			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
		        			tr[i].style.display = "";
		      			} else {
		        			tr[i].style.display = "none";
		      			}
		    		}
		  		}
				hideAllFacts();
			}

			<%for (let i = 0; i < menu.length; i++){ %>
                            var menuItem = '<tr onclick="toggleFact(<%= i %>)" id="tr<%=i%>"><td id="<%=menu[i].recipe%>"><%=menu[i].name%></td><tr>';
				$("#searchTable").append(menuItem);
				hideFact(<%= i %>);
			<%}%>
		</script>
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>

</body>

</html>
